:root {
    --P1D1bg: #51EEFC;
}

@font-face {
    font-family: BMSpace;
    src: url(./BMSPA___.TTF);
}

@keyframes fade {
    to { 
        opacity: 1;
        margin-left: 1vw; 
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes unblur {
    to {
        filter: blur(0px);
    }
}

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

.section {
    margin: 0 auto;
    height: 100vh;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

#P1 {
    background-image: url("../images/PW_bg.jpg");
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}

#P1-D1 { 
    font-family: "Red Hat Text", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 2.5vw;
    width: 45vw;
    color: #FFDFFF;
    background-color: transparent;
    -webkit-text-stroke: 0.70px #FFFFFF;
}

#P1-D1::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #060216;
    box-shadow: #936FF9 11px -10px 0px 8.5px;
    transform: skew(20deg);  
    z-index: 0;
}

#P1-D2 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.25vw;
    color: #936FF9;
    align-self: center;
    text-align: center;
    position: relative;
    margin-top: 20vh;
}

#P2 {
    background-image: url("../images/PW_bg.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
}

#P2-D1 {
    width: 50vw;
    height: 90vh;
    margin-left: 2vw;
}

#P2-D1-H1 {
    font-weight: bold;
    margin-bottom: 8vh;
    margin-left: -2vw;
    opacity: 0;
    animation: fade 1s linear both;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#P2-D1-H2 {
    margin-bottom: 4vh;
    opacity: 0;
    animation: fadeIn 1s linear both;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#P2-D1-H3 {
    opacity: 0;
    animation: fadeIn 1s linear both;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#P2-D2 {
    width: 50vw;
    height: 94vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 1px solid white;
}

#P2-D2-D1 {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
}

#P2-D2-H1 {
    margin-right: 19vw;
    font-size: 1.5vw;
}

#P2-D2-H2 {
    margin-left: 17vw;
}

#P2-D2-EX {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
}

#P2-D2-I1 {
    border: 1px solid #00FF00;
    width: 20vw;
    height: max-content;
    margin-left: 2vw;
    /* animation: unblur 1s linear both; */
    animation-play-state: paused;
    /* animation-delay: calc(var(--scroll) * -1s); */
}

#P2-D2-D2 {
    height: max-content;
    width: max-content;
}

#P2-D2-TermText {
    color: rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
}

#P2-D2-E3 {
    margin-left: 2vw;
    margin-top: 2vw;
    font-family: 'Ubuntu Mono', sans-serif;
    font-weight: normal;
    font-size: 1.25vw;
}

.P2-D2-TermText {
    color: rgb(0, 255, 0);
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.25vw;
    font-weight: normal;
    margin: 0;
    margin-left: 1vw;
}


.P1-D1 {
    position: relative; /* Ensure the text is above the skewed background */
    z-index: 1; /* Make sure text is above the skewed background */
}

.P2 {
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.7vw;
    font-weight: normal;
}

@media only screen and (max-width: 720px) {
    #P1-D1 {
        font-size: 2.5vw;
        width: 72vw;
        padding-left: 6vw;
    }

    #P1-D1::before {
        box-shadow: red 11px -7px 0px 6px;
    }

    #P1-D2 {
        font-size: 2.75vw;
    }

    #P2 {
        flex-direction: column;
        justify-content: flex-start;
        height: 99vh;
    }

    #P2-D1 {
        width: 95vw;
        height: fit-content;
    }

    #P2-D1-H1 {
        margin-bottom: 4vh;
    }

    #P2-D2 {
        width: 95vw;
        height: 50vh;
        margin-top: auto;
    }

    #P2-D2-H1 {
        font-size: 3vw;
    }

    #P2-D2-H2 {
        margin-left: 53vw;
    }

    #P2-D2-I1 {
        width: 30vw;
        height: 30vw;
    }

    #P2-D2-E3 {
        font-size: 3vw;
    }

    .P2 {
        font-size: 3.75vw;
    }

    .P2-D2-TermText {
        font-size: 3vw;
    }

  }





