---
import { Image } from 'astro:assets'
import '../styles/global.css'
import Section from '../layouts/section.astro'
import Main from '../layouts/main.astro'
import Ojan_Pic from '../images/Ojan.jpeg'
---

<Main>
    <Section>
        <div id="P1-D1">
            <h1 id="P1-D1-H1" class="P1-D1">やあ、俺はファウザン・リズキ</h1>
            <h2 class="P1-D1">A.K.A ゼンリエル / Zenriel </h3>
        </div>
        <div id="P1-D2">
            <h2>Scroll Down</h2>
        </div>
    </Section>
    <Section id="P2">
        <div id="P2-D1" class="P2">
            <h1 class="P2" id="P2-D1-H1">
                The name's Fauzan, but you can also call me Ojan.
            </h1>
            <h1 class="P2" id="P2-D1-H2">
                I'm an enthusiastic 11th grade high school student with a deep passion for coding and technology. 
                My journey in the world of programming began with Python, which remains my primary and favorite language due to its simplicity and versatility. 
                Whether it's building web applications, web scraping, Python is my go-to tool.
            </h1>
            <h1 class="P2" id="P2-D1-H3">
                When I'm not immersed in code, I enjoy unwinding with video games. 
                They provide a perfect balance of entertainment, challenge and strategic thinking. 
                Combining my love for programming and videogame, 
                I often find myself exploring the intersection of technology and interactive entertainment.
            </h1>
        </div>
        <div id="P2-D2" class="P2">
            <div id="P2-D2-D1" class="P2">
                <h1 id="P2-D2-H1" class="P2">zenfetch.sh</h1>
                <h1 id="P2-D2-H2" class="P2">-ox</h1>
            </div>
            <div id="P2-D2-EX" class="P2">
                <div id="P2-D2-D2" class="P2">
					<Image src={Ojan_Pic} alt="Ojan" class="P2" id='P2-D2-I1' />
                </div>
                <div id="P2-D2-TermText" class="P2">
                    <h3 class="P2-D2-TermText">Zenriel@Zen</h3>
                    <h3 class="P2-D2-TermText">------------</h3>
                    <h3 class="P2-D2-TermText">OS: Windows, Linux(debian)</h3>
                    <h3 class="P2-D2-TermText">Shell: cmd/powershell, bash</h3>
                    <h3 class="P2-D2-TermText">Language: Python, JS</h3>
                    <h3 class="P2-D2-TermText">Framework: Flask</h3>
                    <h3 class="P2-D2-TermText">Uptime: 3.8 Years</h3>
                    <h3 class="P2-D2-TermText">Theme: INTP</h3>
                </div>
            </div>
            <h1 id="P2-D2-E3" class="P2">zenriel@zen:~$: </h1>
        </div>
    </Section>
    <script src="../scripts/index_script.js"></script>
</Main>

<!-- Version 1.3-->
